@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins&display=swap');

body{

    font-family: 'Poppins', sans-serif;
    margin: 0;
}

main{

    display: flex;
    flex-direction: column;
    align-items: center;
}

/*-------------
top blogs style
--------- */

.container{

    width: 1321px;
    margin-bottom: 100px;

   
  
}
.top-blog{

    display: flex;
    justify-content: space-between;
    background: #161616;
    border-radius: 10px;
    box-sizing: border-box;
    align-items: center;

}

.top-banner{

    width: 50%;
    margin-left: 106px;
    
  

}
.section-title{


    font-size: 70px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 38px;
    line-height: 80px;
}

.first-paragraph{

    width:90%;
    margin-bottom: 30px;
    color: #FFFFFF;
    font-size: 16px;
}

.button-title{
    width: 30%;
    padding: 10px 25px;
    font-size: 18px;
    background: #DD0000;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;

}

.fa-angle-right{

    margin-left: 10px;
}
.top-img{
    width: 50%;
  
  
}
.top-img img{

    width: 100%;
    padding-top: 33px;
    padding-right: 79px;
    padding-left: 24px;
    box-sizing: border-box;
    display: block;
 
}

/* -----------
second-banner style
------- */


.second-blog{
    display: grid;
    grid-template-columns: 312px repeat(2, 3fr);
    column-gap: 18px;
}
.second-box{

    height: 312px;
    background-color: #161616;
    border-radius: 10px;
   

}

.match button{
    width:252px;
    height: 64px;
    padding: 6px 12px;
    background-color: #FFFFFF;
    color: #161616;
    margin: 20px;
    border-radius: 14px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    border: none;
    
}

#blog button{

    background: #DD0000;
}


.second-info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 18px;
    row-gap: 18px;
}
.second-part{
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

.part-image{
    width: 100%;
}
.second-content{
    padding: 15px;
}

.second-content button{
    text-decoration: none;
    color: #161616;
    font-size: 16px;
    border: 1px solid #161616;
    border-radius: 5px;
    padding: 3px 7px;
}
.second-content h3{
    color: #161616;
    font-size: 18px;
    line-height: 27px;
}
.icons{
    display: flex;
   
}
.player-info{
    display: flex;
    justify-content: space-between;
    width: 68px;
    height: 26px;
 }
 
.player-duration{
    display: flex;
    justify-content: space-between;
    width: 53px;
    height: 26px;
    margin-left: 30px;
 }

 .player-icon img{

    color: #161616b3;
 }

 /*------------
  footer part style
  -----------*/



  .last-section{
    background-color: #161616;
}
footer{
    padding-top: 130px;
    padding-bottom: 130px;
}
h2{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    margin-bottom: 50px;
}
hr{
    width: 80%;
}
.last-manu{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    
}
.last-manu a{
    color: #B9B9B9;
    text-decoration: none;
    margin-left: 25px;
    margin-right: 25px;
}

.social-icon{
    
    text-align: center;
}

.social-icon a{
    text-decoration: none;
}
.social-icon a i{
    color: #B9B9B9;
    font-size: 35px;
    margin: 25px;
   
}
.social-icon a i:hover{
    color: aqua;
}
/* -----------
Responsive design
----------*/


/* Mobile perspective */
@media screen and (max-width:668px) { 

    .container{

       width: 100%;
       border-radius: 10px;
       margin-top: 20px;
       margin-left: 20px;
       margin-right: 20px;
    }

   .top-blog{

    flex-direction: column;
    align-items: center;
  
 
   }
   .top-banner{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
    width: 100%;

   }
   .top-banner span{

    display: none;
   }
    .top-img{

    width: 90%;
    
   }

   .top-img{
        
        margin-top: 20px;
   }
   .top-img img{

        padding: 0;
   }

   .section-title{
    width: 70%;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    margin-top: 28px;
    margin-bottom: 0;
   }

   .first-paragraph{

    text-align: center;
    font-size: 14px;
    line-height: 24px;
    width: 258px;
    height: 48px;

   }

   .button-title{

    width: 161px;
    text-align: center;

   }
 
   /* second section */

   .second-blog{

    grid-template-columns: 1fr;
    row-gap: 20px;
   }

   .second-box{

    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
   }

.upcoming button{

    width: 240px;
    height: 48px;
    background-color: #B9B9B9;
    border-radius: 5px;

}


.group button{

    width: 160px;
    height: 48px;
    background-color: #B9B9B9;
    border-radius: 5px;

}
.all button{

    width: 160px;
    height: 48px;

    border-radius: 5px;
 

}



   .second-info{

    grid-template-columns: 1fr;
    row-gap: 20px;

   }

   .part-image img{

    width:100%;

    
   }


   /* footer section */

   
   hr{
    width: 75%;
   }

   .last-manu{
     display: block;
     text-align: center;
   }

   .last-manu a{

    padding-top: 30px;
   }
}




/* Tablet perspective */

@media only screen and (min-width: 668px) and (max-width: 992px) {

    main{

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container{
        margin: 50px 50px 0 50px;
        border-radius: 10px;
        width: auto;
        }
    .top-banner{

        width: 40%;
        padding-left: 20px;
        padding-bottom: 40px;
    }

    .section-title{

        width: 289px;
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
    }

    .first-paragraph p{
        width: 316px;
        font-size: 14px;
        line-height: 24px;
    }
    .top-banner span{

        display: none;
       }

    .button-title{

        width: 161px;
        text-align: center;
    
       }

       .top-img{

        width: 100%;
       }

    .top-img img{
        padding-top: 75px;
    }

    /* Middle section */

    .second-blog{
        position: relative;
        grid-template-columns: 1fr;
        row-gap: 24px;
    }

.second-box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: none;
    width: auto;
    height: auto;
}
.upcoming, .group, .all button{
    font-size: 18px;
    font-weight: 500;
}
.match button{
    margin: 0;
}
.upcoming, .group{
    width: 190px;
    height: 64px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #E8E8E8;        
}
.upcoming button{
    color: #000000;
}

.second-info{
    grid-template-columns: repeat(2, 1fr);
}
.part-image img{
    width: 100%;
}

/* footer section */

.last-section{
    margin-top: 30px;
}
footer{

    padding: 80px;
}
.last-manu a{
    font-size: 10px;
}
}

